---
layout: base.vto
title: About
---

<div class="mx-auto max-w-xl px-4 py-24">
    <div class="flow-root">
        <dl class="-my-3 divide-y divide-gray-200 text-sm">
            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900 dark:text-gray-100">このブログについて</dt>
            
                <dd class="text-gray-700 dark:text-gray-100 sm:col-span-2">
                    Fediverseにアップロードしたメディア等を上手く活用して、記事を書きたいブログ
                </dd>
            </div>
            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900 dark:text-gray-100">
                    乗継割引(Pleroma)
                </dt>

                <dd class="text-gray-700 dark:text-gray-100 hover:text-gray-500/75 sm:col-span-2">
                    <a href="https://uni.vuwuv.com/users/noritsugi">https://uni.vuwuv.com/users/noritsugi</a>
                </dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900 dark:text-gray-100">Fedibird</dt>
                <dd class="text-gray-700 dark:text-gray-100 hover:text-gray-500/75 sm:col-span-2">
                    <a href="https://fedibird.com/@noritsugi">https://fedibird.com/@noritsugi</a>
                </dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900 dark:text-gray-100">Misskey.io</dt>
                <dd class="text-gray-700 dark:text-gray-100 hover:text-gray-500/75 sm:col-span-2">
                    <a href="https://misskey.io/@noritsugi">https://misskey.io/@noritsugi</a>
                </dd>
            </div>

            <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900 dark:text-gray-100">Misskey.cloud</dt>
                <dd class="text-gray-700 dark:text-gray-100 hover:text-gray-500/75 sm:col-span-2">
                    <a href="https://misskey.cloud/@noritsugi">https://misskey.cloud/@noritsugi</a>
                </dd>
            </div>
        </dl>
    </div>
</div>