<header class="bg-[#d9f6ef] dark:bg-[#d9f6ef] shadow">
  <div class="text-center sm:text-center">
    <a href="/" class="hover:text-blue-600">
        <h1 class="text-xl text-gray-800 transition font-serif">
            乗継ログ
        </h1>
    </a>

    <nav class="text-gray-800 transition space-x-4 text-sm font-mono">
      <a href="/">Log</a>
      <a href="/about/">About</a>
    </nav>
  </div>
</header>